__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.env
.env.*
*_KEY.txt
*token*.txt

results/
outputs/
output/
selected_*/
final result/
*.log
*.th
*.pt
*.pth
*.ckpt

src/prompts/gen_code/*/raw/
src/prompts/gen_code/*/prompt_response/
src/prompts/gen_code/*/strat/

*.doc
*.docx
*.pdf
*.ppt
*.pptx
